.ui-accordion-content {
    overflow: hidden;
    height: 0;
    padding: 0;
    color: var(--color__white);

    &.active {
        height: auto;
        @mixin rhythm 0.5, 0.5, 0, 0;

        @media (--medium) {
            @mixin rhythm 0.5, 0.5, 0, 0, $breakpoint-1024px;
        }

        @media (--large) {
            @mixin rhythm 0.5, 0.5, 0, 0, $breakpoint-1024px;
        }
    }
}

.ui-accordion-content--animated {
    transition: padding 0.25s ease;
}
